<div class="containter-fluid">
  <div class="row">
    <div class="col-sm-6 contactInfo">
      <p class="subtitle" [translate]="'contact.title'"></p>
      <p class="title" [translate]="'contact.contactme'"></p>
      <p class="text" [translate]="'contact.contactotxt'"></p>
      <div class="row">
        <button [ngClass]="mode === 'nigth' ? 'btn btnContact btnContact-nigth' : 'btn btnContact btnContact-day'" disabled>
          <i class="far fa-envelope"></i> marielk.@gmail.com
        </button>
      </div>
      <div class="row">
        <button [ngClass]="mode === 'nigth' ? 'btn btnContact btnContact-nigth' : 'btn btnContact btnContact-day'" disabled>
          <i class="fab fa-whatsapp"></i>(+569)48628194
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <app-mesage-form-contact-view ></app-mesage-form-contact-view>
    </div>
  </div>
</div>