<div class="containter-fluid">
  <div class="row">
    <div class="col-sm-6 contactInfo">
      <p class="subtitle">-Es hora de crear algo increible-</p>
      <p class="title">Contactame</p>
      <p class="text">Puedes enviarme un email con tus consultas o si lo prefieres puedes llamarme o contactarte a mi +wsp, de cualquier manera contestare tu mensaje lo antes posible. </p>
      <div class="row">
        <button class="btn btnContact" disabled>
          <i class="far fa-envelope"></i> marielk.@gmail.com
        </button>
      </div>
      <div class="row">
        <button class="btn btnContact" disabled>
          <i class="fab fa-whatsapp"></i>(+569)48628194
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <app-mesage-form-contact-view ></app-mesage-form-contact-view>
    </div>
  </div>
</div>