.contactInfo{
  text-align: center;
  margin-bottom: 15%;
}
.title{
 margin-top: 0px;
 
}
.subtitle{
  margin-top: 10%;
  
}
.text{
  margin-top: 0px;
  margin-left: 5%;
}

.btnContact{  
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto; 
  font-size: x-large;
  line-height: 4.2rem;
}

.btnContact-day{
  background-color: #f582ae;
  color: #001858;
  border: 2px solid #001858;
  box-shadow: 5px 10px 18px #f3d2c1;
  text-shadow: 0px 2px 20px #f3d2c1;
}
.btnContact-nigth{
  background-color: #7f5af0;
  color: white;
  border: 2px solid white;
  box-shadow: 5px 10px 18px #b892ff;
  text-shadow: 0px 2px 20px #b892ff;
}
.btnContact:hover{
  background-color: #b892ff;
  color: black;
  box-shadow: 5px 10px 18px #7f5af0;
  text-shadow: 0px 2px 20px #b892ff;
 
}

.btnContact-day:hover{
  background-color: #f3d2c1;
  color: #001858;
  box-shadow: 5px 10px 18px #f582ae;
  text-shadow: 0px 2px 20px #f3d2c1;
}
.btnContact-nigth:hover{
  background-color: #b892ff;
  color: black;
  box-shadow: 5px 10px 18px #7f5af0;
  text-shadow: 0px 2px 20px #b892ff;
}


.form{
  margin-top: 20%;
}

@media only screen and (max-width: 765px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
  
  .title{
    margin-top: 5%;
  }
  .subtitle{
    margin-top: 10%;
    margin-left: 0%;
  }
  .text{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
	
  .title{
    margin-top: 5%;
  }
  .subtitle{
    margin-top: 10%;
    margin-left: 0%;
  }
  .text{
    margin-top: 0px;
  }

  
}