<p class="title top">Qué puedo hacer por tí?</p>
<div class="card col-sm-12 col-lg-3">
    <div class="card__image">
      <img class="icon" src="../../../assets/img/program.png">
    </div>
    <div class="card__content">
      <h3 class="subtitle">Vista</h3>
      <p class="text">Confeccionar experiencia de usuario 
          Llevar a la vida el concepto del diseñador con HTML, CSS y JavaScript
          Producir, modificar, mantener sitios Webs y aplicaciones Web con interfaces de usuario. 
          </p>
    </div>
</div>

<div class="card col-sm-12 col-lg-3">
    <div class="card__image">
      <img class="icon" src="../../../assets/img/moviletools.png">
    </div>
    <div class="card__content">
      <h3 class="subtitle">Controlador</h3>
      <p class="text">Crear herramientas que permitan al usuario ver e interactuar con tu sitio en cualquier navegador. 
          Implementar diseños responsivos para dispositivos móviles. 
          </p>
    </div>
</div>

<div class="card col-sm-12 col-lg-3">
    <div class="card__image">
      <img class="icon" src="../../../assets/img/work.png">
    </div>
    <div class="card__content">
      <h3 class="subtitle">Modelo</h3>
      <p class="text">Contribuir con la experiencia de Back-End, colaborando con APIs y generando bases de datos con información valiosa. 
          Mantenimiento de software y control de versiones con GitHub
          Testeo de sitio durante el desarrollo para mejorar su usabilidad y corregir errores (Bugs). </p>
    </div>
</div>