.top {
  text-align: center;
}
.card {
  display: inline-block;
  margin-top: 6%;
  margin-right: 4%;
  margin-left: 4%;
  height: 480px;
  margin-bottom: 15%;
  position: relative;
  padding: 0;
  text-align: center;
  border-radius: 5%;
  
}

.card-day{
  background-color: #f3d2c1;
 }
 
 .card-nigth{
   background-color: #16161a;
   box-shadow: 0px 2px 5px #7f5af0;
 }
 

.card__image {
  position: absolute;
  top: var(--header-height);
  left: 50%;
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0px;
  display: flex;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;
  
}

.card__image-day{
  box-shadow: 0px 3px 6px #f582ae;
  background-color: #f582ae;
 }
 
 .card__image-nigth{
  box-shadow: 0px 3px 6px #7f5af0;
  background-color: #7f5af0;
 }

.icon {
  height: 85%;
  width: 85%;
  position: relative;
  left: 7px;
  top: -10px;
}


.card__content {
  display: flex;
  flex-flow: column nowrap;
  background-color: transparent;
}

.card h3, p {
  margin: 0;
  padding: 2.6rem 2rem;
}

.card p {
  margin-top: 0.5rem;  
  padding-top: 15px;
}


.card p.day{
  color: #172c66;
}

.card p.nigth{
  color: #94a1b2 !important;
}

h3{
  font-size: 1.35rem;
    line-height: 1em;
    height: var(--header-height);
    
    font-size: 1.4em;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: white;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

h3.day{
  background-color: #f582ae;
}

h3.nigth{
  background-color: #7f5af0;
}

p {
  padding-top: 4.2rem;
}

.cardContainer{
  display: flex;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .cardContainer{
    margin-bottom: 50px;
  }
  .card {
    margin-right: 8em;
    margin-left: 8em;
    margin-bottom: 15%;
    /* height: 480px; */
  }
}
