<div class="container-fluid mainContainerReference">
  <div class="row">
    <div class="col-sm-12">
      <p class="title top">Qué se dice de mí?</p>
    </div>
  </div>
  <div class="row">
   
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card col-sm-8- col-lg-6">
                <div class="card-body">
                  <p class="card-text cardText">Mariel es una excelente programadora. Muy organizada y se preocupa mucho por dar lo mejor de sí para alcanzar un objetivo común. Es super autodidacta por lo que siempre está investigando y aprendiendo cosas nuevas. Trabaja colaborativamente y es confiable. Sin dudas, volvería a trabajar con ella en el futuro.</p>
                  <hr>
                  <div class="card-footer">
                    <img src="../../../assets/img/violeta.jpeg" alt="imagen de perfil del sujeto" class="profilePicture">
                    <button class="name btn-lg violet" disabled>
                      Violeta Ledezma 
                    </button>
                    <button class="name btn-small front" disabled>
                        Front-End Developer
                     </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
                <div class="card col-sm-8- col-lg-6">
                  <div class="card-body">
                    <p class="card-text cardText">Muy buena compañera y coder, su manera de trabajar es muy ordenada, limpia y lógica, muy buenas habilidades blandas, un gusto trabajar con ella!</p>
                  </div>
                  <div class="card-footer">
                    <img src="../../../assets/img/karyn.jpeg" alt="imagen de perfil del sujeto" class="profilePicture">
                    <button class="name btn-lg" disabled>
                        Karyn Herrera 
                    </button>
                    <button class="name btn-small" disabled>
                        Front-end developer & Programmer Analyst
                     </button>
                    </div>
                  </div>
              </div>

              <div class="carousel-item">
                  <div class="card col-sm-8- col-lg-6 natiCard">
                    <div class="card-body">
                      <p class="card-text cardText">Trabajé con Mariel en un proyecto de una aplicación para registro de visitantes.
                          Primera vez que trabajábamos juntas y se adaptó inmediatamente a la metodología y al equipo de trabajo. Su rol fue de back end, el cual realizó de forma íntegra, dando siempre lo mejor de sí para llevar a cabo el proyecto de la mejor forma posible. Tiene la capacidad de ser autodidacta, si no sabe algo inmediatamente lo busca y aprende.
                          Como UX designer sin duda volvería a trabajar con ella, ya que su capacidad de adaptabilidad y trabajar en equipo es la mejor.</p>
                    </div>
                    <div class="card-footer">
                      <img src="../../../assets/img/natalia.jpeg" alt="imagen de perfil del sujeto" class="profilePicture">
                      <button class="name btn-lg natalia" disabled>
                          Natalia Miranda 
                      </button>
                      <button class="name btn-small ux" disabled>
                          Diseñadora UX
                       </button>
                      </div>
                    </div>
                </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
    
  </div>
</div> 