.mainContainerReference{
  align-items: center;
}
.title{
  /* margin-left: 15%; */
  margin-bottom: 3%;
}
.top {
  text-align: center;
}
.card{
  background-color: #16161a;
  height: 340px;
  width: 1380px;
  margin-left: 22%;
  margin-bottom: 10%;
}
.cardText{
 color: #94a1b2;
 font-family: 'ABeeZee', sans-serif;
}
.profilePicture{
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
  float: left;
}
.name{
  background-color: #7f5af0;
  color: black;
  font-family:  'PT Serif', serif;
  border-width: 0px;
  margin-top: 5%;
  margin-left: 20%;
  float: right;
}

.carousel-control-prev{
  position: fixed;
    bottom: 200px;
  width: 2%;
  align-items: flex-end;
}
.carousel-control-next{
  position: fixed;
  bottom: 200px;
  width: 2%;
  align-items: flex-end;
}
.carousel-indicators {
  margin-top: 5%;
  position: fixed; 
  bottom: 57px;
}
.carousel-indicators li{
  border-radius: 50%; 
  width: 15px;
  height: 15px;
}
.violet{
  position: relative;
}
.front{
  position: relative;
}
.natalia{
  margin-top:1%;
}
.ux{
  margin-top: 1%;
}
.natiCard{
  height: 340px;
  width: 1380px;
}

@media only screen and (max-width: 768px) {
	.carousel-control-prev{
   
    align-items: flex-end;
    width: 6%;
    
  }
  .carousel-control-next{
    
    width: 6%;
    align-items: flex-end;
  }
  .carousel-indicators li{
    border-radius: 50%; 
    width: 15px;
    height: 15px;
  }

  .card{
    width: 500px;
    margin-left: 0%;
    height: 405px;
    margin-right: 0%;
    text-align: left;
    padding-right: 30%;
    margin-bottom: 20%;
  }
  
  .name{
    margin-top: 2%;
    margin-left: 10%;
    float: right;
  }
  .violet{
    position: absolute;
    bottom: 53px;
    left: 133px;
  }
  .front{
    position: absolute;
    bottom: 18px;
    left: 143px;
  }
  .natalia{
    margin-top:1%;
  }
  .ux{
    margin-top: 1%;
  }
  .natiCard{
    height: 597px;
    width: 519px;
    margin-bottom: 15%;
  }
  
}