
  .main{
    display: list-item;
  }

  .imgMain{
    height: 36%;
    margin-top: 5%;
  }
  .title{
    margin-top: 8%;
    margin-left: 5%;
    font-size: -webkit-xxx-large;
    font-family: 'PT Serif', serif;
  }
  .subtitle{
    margin-top: -2%;
      margin-left: 35%;
    font-size: larger;
    font-family: 'ABeeZee', sans-serif;
  }
  .text{
    margin-top: 5%;
      width: 70%;
    margin-left: 5%;
    font-family: 'ABeeZee', sans-serif;
  }

  .buttonWork{

    margin-left: 25%;
    margin-top: 35%;
  }

  @media only screen and (min-width: 320px) {
    .imgCont{
      text-align: center;
    }
    .imgMain{
      height: 26%;

    }
    .text{
      width: 100%;
    }
    .title{
      margin-left: -15%;
      font-size: xx-large;
    }
    .subtitle{
      margin-left: 8%;
    }
  }
  @media only screen and (min-width: 375px) {
    .imgMain{
      height: 31%;

    }
    .title{
      margin-left: 0%;
    }
  }
  @media only screen and (min-width: 425px) {
    .imgMain{
      height: 36%;

    }
    .title{
      margin-left: 4%;
    }
  }
@media only screen and (min-width: 765px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }

  .main{
    padding-left: 10px;
    padding-right: 110px;
  }

  .title{

    margin-top: 8%;
    margin-left: 5%;
    font-size: x-large;
    text-align: center;
    font-family: 'PT Serif', serif;
  }
  .subtitle{
    margin-top: -2%;
    margin-left: 20%;
    font-size: medium;
    font-family: 'ABeeZee', sans-serif;
  }
  .text{
    margin-top: 5%;
    width: 95%;
    margin-left: 5%;
    font-family: 'ABeeZee', sans-serif;
  }
}

@media only screen and (min-width: 768px) {

    .imgMain{
     height: 26%;
     margin-left: 0%;
     margin-right: 0%;
    }


  .imgContainer{
    margin-left: 8%;
  }
  .title{
    margin-top: 8%;
    margin-left: -13%;
    font-size: xx-large;
    font-family: 'PT Serif', serif;

  }
  .subtitle{

    margin-top: -2%;
    margin-left: 7%;
    font-size: medium;
    font-family: 'ABeeZee', sans-serif;

  }
  .text{
    margin-top: 0%;
    text-align: justify;
    margin-left: 5%;
    padding: 2%;
    padding-right: 10%;
    font-family: 'ABeeZee', sans-serif;

  }
}

@media only screen and (min-width: 1020px) {

  .imgMain{
    height: 40%;
    float: right;
    margin-right: 5%;
  }

}

@media only screen and (min-width: 1440px) {

  .imgMain{
    height: 50%;
  }

  .title{
    font-size: -webkit-xxx-large;
  }
}
@media only screen and (min-width: 1440px) {

  .imgMain{
    height: 50%;
  }

  .title{
    font-size: 5em;
  }

  .subtitle{
    font-size: 2em;
  }

  .text{
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 2560px) {

  .imgMain{
    height: 70%;
  }

  .title{
    font-size: 6em;
  }

  .subtitle{
    font-size: 4em;
  }

  .text{
    font-size: 2em;
  }
}
