<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-8">
      <p class="title">Mariel Quezada Gallardo</p>
      <p class="subtitle">Front-end Santiago de Chile</p>
      <p class="text"> 
          Soy apasionada del código y del desarrollo web enfocado en los usuarios. Desafíame y logremos el éxito de tu proyecto.  </p>
          <app-button-work></app-button-work>
    </div>
    <div class="col-sm-4 imgContainer">
      <img class="rounded float-right imgMain"  src="../../../assets/img/ilus_ejemplo.jpg">

    </div>
  </div>
</div>
