.buttonMenu{
  padding-left: 35%;
}

.buttonMenu-day{
  background-color:  #fef6e4;  
}
.buttonMenu-nigth{
  background-color:  #16161a;  
}
.nav-link{
  color: white!important;
  font-family: 'PT Serif', serif;
}

.nav-link-day{
  color: #172c66!important;  
}
.nav-link-nigth{
  color: white!important;
}

.c8{
  width: auto;
}

.translate-btn{
  background: transparent;
  border: none;
}
.topNavBar{
  
  padding-right: 0px; 
  padding-left: 0px; 
  width: 100%;
}
.topNavBar-day{
  background-color: #fef6e4!important; 
}
.topNavBar-nigth{
  background-color: #16161a!important; 
}
#logo{
  width: 175px;
  height: 110px;
  display: inline-block;
}
#navbarNav{
  display: -webkit-box;
}
.logoResponsive{
  display: none;
 
}
.responsiveMenu{
  display: none;
}
      @media only screen and (max-width: 768px) {
        .cBtn{
          float: right;
        }
        .logoResponsive{
          display: inline-block;
          width: 130px;
        }
        #logo{
          display: none;
        }
        #navbarNav{
          display: none;
        }
        .responsiveMenu{
          display: inline-block;
        }
      }

      @media only screen and (min-width: 2560px) {
        #logo{
          width: 250px;
        height: 150px;
        }
        .nav-link{
          font-size: 2em;
        }
      }

      