.buttonMenu{
  padding-left: 35%;
}

.buttonMenu-day{
  background-color:  #fef6e4;  
}
.buttonMenu-nigth{
  background-color:  #16161a;  
}
.nav-link{
  color: white!important;
  font-family: 'PT Serif', serif;
}

.nav-link-day{
  color: #172c66!important;  
}
.nav-link-nigth{
  color: white!important;
}

.c8{
  width: auto;
}

.translate-btn{
  background: transparent;
  border: none;
}
.topNavBar{
  
  padding-right: 0px; 
  padding-left: 0px; 
  width: 100%;
}
.topNavBar-day{
  background-color: #fef6e4!important; 
}
.topNavBar-nigth{
  background-color: #16161a!important; 
}
#logo{
  width: 175px;
  height: 110px;
  display: inline-block;
}
#navbarNav{
  display: -webkit-box;
}
.logoResponsive{
  display: none;
 
}
.responsiveMenu{
  display: none;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 37px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7f5af0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-image: url('../../../assets/img/moon2.png');
  background-size: contain;
  /* border: 1px solid white; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8bd3dd;
  /* // border: 3px solid white; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #16161a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url('../../../assets/img/sun.png');
  background-size: contain;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  
}

#nigth_mode_content{
  display: inline-flex;
  align-items: center;
  font-family: initial;
  font-size: inherit;
  position: relative;
  left: 20px;
  top: -2px;
}

#language_content{
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 25%;
  left: 10px;
  top: -2px;
}

.flag_img{
  width: 15%;
}

@media only screen and (max-width: 768px) {
  .cBtn{
    float: right;
  }
  .logoResponsive{
    display: inline-block;
    width: 130px;
  }
  #logo{
    display: none;
  }
  #navbarNav{
    display: none;
  }
  .responsiveMenu{
    display: inline-block !important;
  }
  
}

@media only screen and (max-width: 1024px) {
  .buttonMenu{
    padding-left: 0px;
  }
  .responsiveMenu{
    display: inline-block;
  }
  
}

      @media only screen and (min-width: 2560px) {
        #logo{
          width: 250px;
        height: 150px;
        }
        .nav-link{
          font-size: 2em;
        }
      }

      