.buttonMenu{
  padding-left: 44%;
  background-color: #000069;  
 
}
.nav-link{
  color: white!important;
  font-family: 'PT Serif', serif;
}
.c8{
  width: auto;
}
.topNavBar{
  background-color: #000069!important; 
  padding-right: 0px; 
  padding-left: 0px; 
  width: 100%;
}
#logo{
  width: 215px;
  height: 100px;
}

  
      @media only screen and (max-width: 768px) {
        .cBtn{
          float: right;
        }
      }