<nav id="topNavBar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img routerLink="" src="../../../assets/img/Mariel_logo2.png" id="logo"></a>
  <button (click)="active()" class="navbar-toggler hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="hamburger-box">
      <span class="navbar-toggler-icon hamburger-inner"></span>
    </span>  
  </button>
  <div class="collapse navbar-collapse buttonMenu" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" href="#">Bienvenida<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="welcome/portafolio" href="#">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="welcome/service" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="welcome/references" href="#">Referencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="welcome/aboutme" href="#">Sobre mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="welcome/contact" href="#">Contacto</a>
      </li>
    </ul>
  </div>
</nav>