<form [formGroup]="contactForm">
  <div class="form-group">
    <p class="label" [translate]="'contact.name'"></p>
    <label> 
      <input class="form-control" type="text" formControlName="name" required>
    </label>

    <p class="label" [translate]="'contact.company'"></p>
    <label>
      <input class="form-control" type="text" formControlName="company" required>
    </label>

    <p class="label" [translate]="'contact.contact'"></p>
    <label>
      <input class="form-control" type="text" formControlName="contact" required>
    </label>
  
    <p class="label" [translate]="'contact.msg'"></p>
    <label>
      <textarea class="form-control" type="text" formControlName="mesage" required></textarea>
    </label>
    
  </div>
</form>
<div class="modal-footer d-flex justify-space-between">
  <button type="button"[ngClass]="mode === 'nigth' ? 'btn btn-secondary btnCancel-nigth btnModal' : 'btn btn-secondary btnCancel-day btnModal'" data-dismiss="modal" [translate]="'contact.cancel'"></button>
  <button (click)="onSubmit()" type="submit" [disabled]="!contactForm.valid" [ngClass]="mode === 'nigth' ? 'btn btn-primary btnEnviar-nigth btnModal' : 'btn btn-primary btnEnviar-day btnModal'" data-dismiss="modal" [translate]="'contact.send'"></button>
</div>
