

label {
  display: block;
  text-align: left;
  margin-bottom: .5rem;
}

/* modal estilo */
.btnEnviar-day{
  background-color: #f582ae;
  color: #001858;
}
.btnEnviar-nigth{
  background-color: #7f5af0;
  color: white;
}

.btnModal{
  font-family: 'PT Serif', serif;
}
.btnCancel-day{
  background-color: #fef6e4;
  color: #001858;
}
.btnCancel-nigth{
  background-color: #72757e;
  color: #001858;
}
