
 <label>
   <form  name="form">
     <input  name="check" (click)="enableButtons()" type="checkbox"> 
     <span class="menu">
       <span class="hamburger"></span>
     </span>
     <ul>
       <li>
         <button id="btn1"  class="btnMenu" disabled (click)= "validate()">
           <a routerLink="" [translate]="'top_menu.home'"></a>
         </button>
       </li>
       <li>
          <button id="btn2"  class="btnMenu" disabled (click)="validate()">
            <a routerLink="portafolio" href="#" [translate]="'top_menu.works'"></a>
          </button>
       </li>
       <li>
          <button id="btn3" class="btnMenu" disabled (click)="validate()">
            <a routerLink="service" [translate]="'top_menu.services'"></a>
          </button>
       </li>
       <li>
        <button id="btn4" class="btnMenu" disabled (click)="validate()">
          <a routerLink="blog" >Blog</a>
        </button>
       </li>
       <li>
        <button id="btn5" class="btnMenu" disabled (click)="validate()">
          <a routerLink="aboutme" [translate]="'top_menu.about'"></a>
        </button>
       </li>
       <li>
        <button id="btn6" class="btnMenu" disabled (click)="validate()">
          <a routerLink="contact" [translate]="'top_menu.contact'"></a>
        </button>
        <button id="btn7" class="btnMenu" [translate]="'top_menu.language'" (click)="changeLanguage()"></button>
       </li>
     </ul>
   </form>
</label>