
 <label>
   <form  name="form">
     <input  name="check" (click)="enableButtons()" type="checkbox"> 
     <span class="menu">
       <span class="hamburger"></span>
     </span>
     <ul>
       <li>
         <button id="btn1"  class="btnMenu" disabled (click)= "validate()">
           <a routerLink="">Bienvenida</a>
         </button>
       </li>
       <li>
          <button id="btn2"  class="btnMenu" disabled (click)="validate()">
            <a routerLink="portafolio" href="#">Portafolio </a>
          </button>
       </li>
       <li>
          <button id="btn3" class="btnMenu" disabled (click)="validate()">
            <a routerLink="service">Servicios</a>
          </button>
       </li>
       <li>
        <button id="btn4" class="btnMenu" disabled (click)="validate()">
          <a routerLink="references">Referencias</a>
        </button>
       </li>
       <li>
        <button id="btn5" class="btnMenu" disabled (click)="validate()">
          <a routerLink="aboutme">Sobre mí</a>
        </button>
       </li>
       <li>
        <button id="btn6" class="btnMenu" disabled (click)="validate()">
          <a routerLink="contact" >Contacto</a>
        </button>
       </li>
     </ul>
   </form>
</label>