/*animacion de hambuerguesa */
        
        /* primario #00bcd4
        secundario #000000
        tercero #008ba3 */

label .hamburger {
  position: absolute;
  top: 35px;
  left: 21px;
  width: 30px;
  height: 2px;
  padding: 0px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { opacity: 1; }

label .hamburger {
  position: absolute;
  top: 35px;
  left: 21px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #7f5af0, 0 0 0 100vh #7f5af0;
  border-radius: 0;
}
label input:checked + .menu-day {
  box-shadow: 0 0 0 100vw #f582ae, 0 0 0 100vh #f582ae;
}
label input:checked + .menu-nigth {
  box-shadow: 0 0 0 100vw #7f5af0, 0 0 0 100vh #7f5af0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { opacity: 1; }

label .menu {
  position: absolute;
  right: 12px;
  top: -34px;
  z-index: 100;
  width: 70px;
  height: 70px;
  
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  
  cursor: pointer;
}

label .menu-day {
  background: #f582ae;
  box-shadow: 0 0 0 0 #f582ae, 0 0 0 0 #f582ae;
}
label .menu-nigth {
  background: #7f5af0;
  box-shadow: 0 0 0 0 #7f5af0, 0 0 0 0 #7f5af0;
}


label ul {
  z-index: 200;
  position: absolute;
  top: 643%;
  left: -550%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-family: 'PT Serif', serif;
} 

.btnMenu{
  background-color: #7f5af0;
  border-width: 0px;
}
        
.btnMenu-day{
  background-color: #f582ae;
}
        
.btnMenu-nigth{
  background-color: #7f5af0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 37px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7f5af0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-image: url('../../../../assets/img/moon2.png');
  background-size: contain;
  /* border: 1px solid white; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8bd3dd;
  /* // border: 3px solid white; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #16161a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url('../../../../assets/img/sun.png');
  background-size: contain;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  
}

#nigth_mode_content{
  display: inline-flex;
  align-items: center;
  font-family: initial;
  font-size: inherit;
}

#language_content{
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 25%;
  
}

.flag_img{
  width: 15%;
}

        
  
          