
 <label>
   <form name="formNav">
     <input  name="check" type="checkbox"> 
     <span class="menu">
       <span class="hamburger"></span>
     </span>
     <ul>
       <li>
         <button class="btnMenu" (click)= "back()">
           <a routerLink="">Bienvenida</a>
         </button>
       </li>
       <li>
          <button  class="btnMenu" (click)="validate()">
            <a routerLink="welcome/portafolio" href="#">Portafolio </a>
          </button>
       </li>
       <li>
          <button class="btnMenu" (click)="validate()">
            <a routerLink="welcome/service">Servicios</a>
          </button>
       </li>
       <li>
        <button class="btnMenu" (click)="validate()">
          <a routerLink="welcome/references">Referencias</a>
        </button>
       </li>
       <li>
        <button class="btnMenu" (click)="validate()">
          <a routerLink="welcome/aboutme">Sobre mí</a>
        </button>
       </li>
       <li>
        <button class="btnMenu" (click)="validate()">
          <a routerLink="welcome/contact" >Contacto</a>
        </button>
       </li>
     </ul>
   </form>
</label>