/* You can add global styles to this file, and also import other style files */
/* body{
  display: -webkit-box;
} */

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  /* max-height: max-content; */
} 



.title{

  font-size: 3rem;
  font-family: 'PT Serif', serif;
}
.subtitle{
  font-size: larger;
  font-family: 'ABeeZee', sans-serif;
}
.text{
  font-family: 'ABeeZee', sans-serif;
}

.btn-primary-day {
  background-color: #f582ae !important;
}
.btn-primary-nigth {
  background-color: #7f5af0 !important;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 765px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }


  
  .title{
    
    margin-left: 5%;
    font-size: 2em;
    text-align: center;
    font-family: 'PT Serif', serif;
    /* transform: translateY(550px); */
  }
  .subtitle{

    margin-left: 20%;
    font-size: medium;
    font-family: 'ABeeZee', sans-serif;
    /* transform: translateY(560px); */
  }
  .text{
    
    width: 95%;
    margin-left: 5%;
    font-family: 'ABeeZee', sans-serif;
    /* transform: translateY(580px); */
  }
}

@media only screen and (max-width: 768px) {
	
  

  .title{
    
    margin-left: 5%;
    margin-top: 2em;
    /* font-size: xx-large; */
    font-family: 'PT Serif', serif;
 
  }
  .subtitle{

    
    margin-left: 20%;
    font-size: medium;
    font-family: 'ABeeZee', sans-serif;
    
  }
  .text{
    text-align: justify;
    margin-left: 5%;
    padding: 2%;
    padding-right: 10%;
    font-family: 'ABeeZee', sans-serif;
    
  }
}