label {
  display: block;
  text-align: left;
  margin-bottom: .5rem;
}
.label {
  display: block;
  text-align: left;
  margin-bottom: .5rem;
}

.formContainer{
  padding: 5%;
  margin-bottom: 20%;
  margin-top: 15%;
}

/* modal estilo */
.btnEnviar{
  background-color: #7f5af0;
}

.btnEnviar-day{
  background-color: #f582ae;
  color: #001858;
}
.btnEnviar-nigth{
  background-color: #7f5af0;
  color: white;
}

.btnModal{
  font-family: 'PT Serif', serif;
  /* margin-left: 5%; */
}
.btnCancel{
  background-color: #72757e;
}


@media only screen and (max-width: 768px) {

  .formContainer{
    
    margin-top: 2%;
  }

  
}