.full{
  display:inline-block;
}
.responsive{
  display: none;
}
.title{
  /* margin-left: 15%; */
  margin-bottom: 3%;
}
.top {
  text-align: center;
}
.card{
  
  margin: auto;
  margin-top: 2%;
  margin-bottom: 8%;
}

.card-day{
 background-color: #fffffe;
}
.card-nigth{
  background-color: #16161a;
}

.cardText{
 
 font-family: 'ABeeZee', sans-serif;
}

.cardText-day{
  columns: #172c66;
}
.cardText-nigth{
  color: #94a1b2;
}

.profileIMG{
 
  max-width: 100%;
    padding: inherit;
    margin-top: 4%;
    border-radius: 5%;
}
.footerIcon{
  font-size: xx-large;
  margin-left: 18%;
}
.footerIcon-day{
  color: #f582ae;
}
.footerIcon-nigth{
  color: #7f5af0;
}
.footerText{
  text-align: center;
}
.cvN{
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  
}

.cvN-day{
  background-color: #f582ae;
  color: #001858;
}

.cvN-nigth{
  background-color: #7f5af0;
  color: white;
}

@media only screen and (max-width: 768px) {

  .full{
    display:none;
  }
  .responsive{
    display: inline-block;
  }
  .verMas{
    margin-top: 10%;
  }
  .card{
    width: 500px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
   margin-top: 4%;
   margin-bottom: 1%;
  }
  .innerResponsive{
    padding: 0%;
    padding-right: 65%;
  }

  .profileIMG{

    margin-top: 5%;
    margin-bottom:25%;
      
  }
  .cvR{
    margin-top: 12%;
    margin-left: 5%;
  }
}