<div class="container-fluid mainContainerReference">
    <div class="row">
      <div class="col-sm-12">
        <p class="title">Qué he hecho?</p>
      </div>
    </div>
    <div class="row">
     
        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner ">
              <div class="carousel-item active ">
                 <!-- inicio tarjeta n1 -->
                <div class="card col-sm-12- col-lg-10 ">
                    <p class="title">"Planting Friends"</p>
                    <div class="card-body">
                      <img src="../../../assets/img/planting.png" alt="vista previa" class="imgTrabajo">
                      <p class="card-text cardText full"> 
                          Red social enfocada en el cuidado del medio ambiente.
                          El objetivo principal de esta aplicación es que aquellas personas que tengan interés en temas medioambientales puedan conocer a más gente que comparta sus mismos intereses, y se puedan generar instancias para compartir información, y así se puedan reunir y realizar actividades para generar conciencia en su entorno, ya sea que estén recién iniciandose en este tema, como también puede que tengan profesiones afines y que quieran aportar hacia la sociedad con su conocimiento en distintos temas como desarrollo de huertos urbanos, agricultura orgánica, compostaje, lombricultura, reciclaje, energías renovables, calentamiento global, etc .
                      </p>
                        <div class="card-text cardText responsive">
                            Red social enfocada en el cuidado del medio ambiente.
                          </div>
                          <a class="btn btn-primary responsive verMas" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Ver más
                          </a>
                          <div class="collapse" id="collapseExample">
                              <div class="card innerResponsive">
                                  El objetivo principal de esta aplicación es que aquellas personas que tengan interés en temas medioambientales puedan conocer a más gente que comparta sus mismos intereses, y se puedan generar instancias para compartir información, y así se puedan reunir y realizar actividades para generar conciencia en su entorno, ya sea que estén recién iniciandose en este tema, como también puede que tengan profesiones afines y que quieran aportar hacia la sociedad con su conocimiento en distintos temas como desarrollo de huertos urbanos, agricultura orgánica, compostaje, lombricultura, reciclaje, energías renovables, calentamiento global, etc .
                              </div>
                          </div>
                      <hr>
                      <div class="card-footer">
                        <span>
                            <i class="fab fa-angular footerIcon"></i>
                            <i class="fas fa-terminal footerIcon"></i>
                            <i class="fas fa-file-upload footerIcon"></i>
                            <img src="../../../assets/img/firebase.png" alt="icono firebase" class="fireIcon">
                          <!-- iconos de tecnologia -->
                        </span>
                        <a class="btn btn-primary btnLinks" href="https://github.com/Marielk/planting-friends" role="button" target="_blank">
                            Ver Código
                          </a>
                          <a class="btn btn-primary btnLinks" href="https://plantingfriends.firebaseapp.com/" role="button" target="_blank">
                            Demo
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="card col-sm-8- col-lg-10">
                      <p class="title">"Markdown"</p>
                      <div class="card-body">
                        <img src="../../../assets/img/markdown.png" alt="vista previa" class="imgTrabajo">
                        <p class="card-text cardText full"> 
                          Esta es una libreria de NodeJS que contiene un extractor de links, recibe una ruta de archivo en formato “.md” y retorna por medio de la consola un listado de todos los enlaces que contiene el proyecto, así como la línea del archivo donde se encuentra alojado. Además si se añade la opción de validar, puede comprobar que los enlaces están funcionando o de lo contrario están “rotos”.
                        </p>
                          <div class="card-text cardText responsive">
                              Esta es una libreria de NodeJS que contiene un extractor de links.
                            </div>
                            <a class="btn btn-primary responsive verMas" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                               Ver más
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="card innerResponsive">
                                    Recibe una ruta de archivo en formato “.md” y retorna por medio de la consola un listado de todos los enlaces que contiene el proyecto, así como la línea del archivo donde se encuentra alojado. Además si se añade la opción de validar, puede comprobar que los enlaces están funcionando o de lo contrario están “rotos”.
                                </div>
                            </div>
                        <hr>
                        <div class="card-footer">
                          <span>
                            <i class="fab fa-js-square footerIcon"></i>
                            <i class="fab fa-node footerIcon"></i>
                            <i class="fas fa-terminal footerIcon"></i>
                            <!-- iconos de tecnologia -->
                          </span>
                          <a class="btn btn-primary btnLinks" href="https://github.com/Marielk/scl-2018-01-FE-markdown" role="button" target="_blank">
                              Ver Código
                            </a>
                            <a class="btn btn-primary btnLinks" href="https://www.npmjs.com/package/marielk-mdlinks" role="button" target="_blank">
                              Demo
                            </a>
                        </div>
                      </div>
                    </div>
                    <!-- fin tarjeta n2 -->
              </div>
              <div class="carousel-item">
                  <div class="card col-sm-8- col-lg-10">
                      <p class="title">"If Visitor"</p>
                      <div class="card-body">
                        <img src="../../../assets/img/if.png" alt="vista previa" class="imgTrabajo">
                        <p class="card-text cardText full"> 
                            En este proyecto la empresa IF blanco coworking ha decidido reinventar su proceso de registro de visitantes. El problema es que su actual proceso de registro es en una planilla Excel, pero cuando no está el notebook es en lápiz y papel. Este proceso de registro no da mucha información y seguridad sobre quienes son los que visitan iF Blanco, si son clientes (arriendo espacio) o visitantes.
                            Hasta el momento el proceso de comunicación directo con la entrada, y el encargado de cada departamento de emprendimiento, es a través del grupo de Whatsapp llamado "Control de ingreso". La administración quiere incorporar otros métodos, que además de tener el control de ingreso por Whatsapp, pueda implementarse algun aviso ya sea por correo, o notificación a los encargados de cada emprendimiento. Nuestra solución a eso es modernizar y diseñar un proceso de registro que sea intuitivo, de valor para la empresa iF y que aporte seguridad. Las funciones importantes que se implementarán serán, el registro de los visitantes, y el ingreso de visitantes frecuentes. La notificación la recibirá el encargado de cada emprendimiento en su celular.
                        </p>
                          <div class="card-text cardText responsive">
                              En este proyecto la empresa IF blanco coworking ha decidido reinventar su proceso de registro de visitantes.
                            </div>
                            <a class="btn btn-primary responsive verMas" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                               Ver más
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="card innerResponsive">
                                    El problema es que su actual proceso de registro es en una planilla Excel, pero cuando no está el notebook es en lápiz y papel. Este proceso de registro no da mucha información y seguridad sobre quienes son los que visitan iF Blanco, si son clientes (arriendo espacio) o visitantes.
                                    Hasta el momento el proceso de comunicación directo con la entrada, y el encargado de cada departamento de emprendimiento, es a través del grupo de Whatsapp llamado "Control de ingreso". La administración quiere incorporar otros métodos, que además de tener el control de ingreso por Whatsapp, pueda implementarse algun aviso ya sea por correo, o notificación a los encargados de cada emprendimiento. Nuestra solución a eso es modernizar y diseñar un proceso de registro que sea intuitivo, de valor para la empresa iF y que aporte seguridad. Las funciones importantes que se implementarán serán, el registro de los visitantes, y el ingreso de visitantes frecuentes. La notificación la recibirá el encargado de cada emprendimiento en su celular.
                                </div>
                            </div>
                        <hr>
                        <div class="card-footer">
                          <span>
                              <i class="fab fa-js-square footerIcon"></i>
                              <i class="fas fa-terminal footerIcon"></i>
                              <img src="../../../assets/img/firebase.png" alt="icono firebase" class="fireIcon">
                            <!-- iconos de tecnologia -->
                          </span>
                          <a class="btn btn-primary btnLinks" href="https://github.com/Marielk/scl-2018-01-ProyectoFinalCore" role="button" target="_blank">
                              Ver Código
                            </a>
                            <a class="btn btn-primary btnLinks" href="https://if-visitor.firebaseapp.com/" role="button" target="_blank">
                              Demo
                            </a>
                        </div>
                      </div>
                    </div>
                    <!-- fin tarjeta n3 -->
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          </div>
    </div>
  </div> 
     
     
      
       
  