.top{
  text-align: center;
}
.cards {
	margin-top: 25px;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10%;
	/* margin-bottom: 140px; */
}
.card {
	position: relative;
  border-radius: 10px;
  width: 160px;
  height: 500px;
  padding-left: 10%;
  padding-right: 6%;
	/* size:(230px, 290px); */
  
  margin-top: 2%;
  margin-bottom: 8%;
	
	overflow: hidden;
	margin: 10px 10px;
  transform: translate(0px, 50px);
}

.card-day{
 background-color: #f3d2c1;
}

.card-nigth{
  background-color: #16161a;
  box-shadow: 0px 2px 5px #7f5af0;
}

	.card-header {
		position: absolute;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		left: 0;
    top: 0;
    width: 100%;
    height: 45%;
    /* size:(100%, 45%); */
  }
		.card-image {
			height: 100%;
      border-radius: 2%;
		}
		
	
	.card-content {
		position: absolute;
		top: 45%;
    left: 0;
    width: 90%;
    height: 25%;
		/* size: (100%, 55%); */
    padding: 0 3%;
  }
		.card-title {
			margin: 10px 0;
			text-transform: uppercase;
      font-size: 1.3em;
      margin-left: 5%;
		}
		.card-text {
			/* position: absolute; */
			top: 50%;
      transform: translate(0px, -5px);
			
      font-size: .85em;
      margin-left: 5%;
    }
    
    .card-text-day {
      color: #172c66;
    }
    .card-text-nigth {
      color: #94a1b2;
    }



		.card-more {
			position: absolute;
			right: 10%;
			bottom: -75%;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-size: .9em;
			
      font-weight: bold;
    }

    .card-more:hover {
				color: #7f5af0;
			}
		
	
    .card-content:hover {
		box-shadow:(0, 5px, 6px, #777);
    transform: translate(0px, -2%);
  }
  
  .card-more-day {
    color:#f582ae;
  }

  .card-more-nigth {
    color: #7f5af0;
  }

  .footerIcon{
    font-size: xx-large;
    margin-left: 5%;
    margin-bottom: 5%;
    
  }

  .footerIcon-day{
    color:#8bd3dd;
  }

  .footerIcon-nigth{
    color: #2cb67d;
  }

  .btnLinks{
    margin-left: 10%;
    font-size: medium;
  }

.fireIcon{
  height: 30px;
  width: 30px;
  margin-left: 5%;
  margin-bottom: 5%;
}

/* modal estilo */
.btnEnviar{
  background-color: #7f5af0;
}

.btnEnviar-day{
  background-color: #f582ae;
  color: #001858;
}
.btnEnviar-nigth{
  background-color: #7f5af0;
  color: white;
}
.btnModal{
  font-family: 'PT Serif', serif;
  /* margin-left: 5%; */
}

@media only screen and (max-width: 768px) {
  
  .card{
    width: 365px;
    height: 50em;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 20%;
  }
  .btnLinks{
    margin-left: 18%;
    font-size: medium;
  }
} 
