<p class="title top">Qué he hecho?</p>
<div class="cards">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div [ngClass]="mode === 'nigth' ? 'card card-nigth' : 'card card-day'">
      <div class="card-header bg1">
        <img class="card-image" src="../../../assets/img/braveup.PNG" alt="Share" />
      </div>
      <div class="card-content">
        <h2 class="card-title title">"BRAVEUP!"</h2>
        <p [ngClass]="mode === 'nigth' ? 'card-text card-text-nigth' : 'card-text card-text-day'" [translate]="'portfolio.braveup'"></p>
          
          <div class="row">
            <a style="color: white;" [ngClass]="mode === 'nigth' ? 'btn btn-primary btnLinks btn-primary-nigth' : 'btn btn-primary btnLinks btn-primary-day'" role="button" data-toggle="modal" data-target="#braveupModal" [translate]="'portfolio.watch'"></a>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <!-- card 2 -->
    <div [ngClass]="mode === 'nigth' ? 'card card-nigth' : 'card card-day'" >
      <div class="card-header bg1">
        <img class="card-image" src="../../../assets/img/planting.png" alt="Share" />
      </div>
      <div class="card-content">
        <h2 class="card-title title">"Planting Friends"</h2>
        <p [ngClass]="mode === 'nigth' ? 'card-text card-text-nigth' : 'card-text card-text-day'" [translate]="'portfolio.planting'"></p>
          
          <div class="row">
            <a [ngClass]="mode === 'nigth' ? 'btn btn-primary btnLinks btn-primary-nigth' : 'btn btn-primary btnLinks btn-primary-day'"  href="https://github.com/Marielk/planting-friends" role="button" target="_blank" [translate]="'portfolio.see'">
            </a>
            <a  [ngClass]="mode === 'nigth' ? 'btn btn-primary btnLinks btn-primary-nigth' : 'btn btn-primary btnLinks btn-primary-day'" href="https://plantingfriends.firebaseapp.com/" role="button" target="_blank">
              Demo
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <!-- card 3 -->
    <div [ngClass]="mode === 'nigth' ? 'card card-nigth card-piano' : 'card card-day card-piano'" >
      <div class="card-header bg1">
        <img class="card-image piano-img" src="../../../assets/img/piano.PNG" alt="Share" />
      </div>
      <div class="card-content piano-content">
        <h2 class="card-title title">"Kawaii Piano Keyboard"</h2>
        <p [ngClass]="mode === 'nigth' ? 'card-text card-text-nigth' : 'card-text card-text-day'" [translate]="'portfolio.piano'"></p>
          
          <div class="row">
            <a [ngClass]="mode === 'nigth' ? 'btn btn-primary btnLinks btn-primary-nigth' : 'btn btn-primary btnLinks btn-primary-day'"  href="https://github.com/Marielk/pianokeyboard" role="button" target="_blank" [translate]="'portfolio.see'">
            </a>
            <a  [ngClass]="mode === 'nigth' ? 'btn btn-primary btnLinks btn-primary-nigth' : 'btn btn-primary btnLinks btn-primary-day'" href="https://marielk.github.io/pianokeyboard/" role="button" target="_blank">
              Demo
            </a>
          </div>
      </div>
    </div>
  </div>
</div>   

<div class="modal fade" id="braveupModal" tabindex="-1" role="dialog" aria-labelledby="modal que muestra video de braveup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Demo Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="500"
        src="https://www.youtube.com/embed/D4IZ3tq-dZo?controls=0">
        </iframe> 
      </div>
      <div class="modal-footer">
        <button type="button" [ngClass]="mode === 'nigth' ? 'btn btn-primary btnEnviar-nigth btnModal' : 'btn btn-primary btnEnviar-day btnModal'" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
